<article class="doc">
{{#if (eq page.layout '404')}}
<h1 class="page">{{{or page.title '找不到页面'}}}</h1>
<div class="paragraph">
<p>你要找的页面不存在，它可能被移走了。</p>
</div>
<div class="paragraph">
<p>如果你是通过点击链接来到这里，请通知站长链接已失效。
如果你是手动输入 URL 来到这里，请检查拼写。</p>
</div>
{{else}}
{{#if page.title}}
<h1 class="page">{{{page.title}}}</h1>
{{/if}}
{{{page.contents}}}
{{/if}}
</article>
