{{#if page.versions}}
<div class="page-versions">
  <button class="version-menu-toggle" title="查看页面其他版本"">{{page.componentVersion.displayVersion}}</button>
  <div class="version-menu">
    {{#each page.versions}}
    <a class="version
      {{~#if (eq ./version @root.page.version)}} is-current{{/if~}}
      {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize ./url}}}">{{./displayVersion}}</a>
    {{/each}}
  </div>
</div>
{{/if}}
